<h4 style="font-family: monospace">Breadfactorystudios.com Weekly Article Setter</h4>

<p>{{confirmation_text}}</p>

<form action="/api/v1/articles" method="post">
    Linux:<br>
    <input name="linux" type="text" value=""><br>
    Cloud Computing:<br>
    <input name="cc" type="text" value=""><br>
    Machine Learning:<br>
    <input name="ml" type="text" value=""><br>
    Python:<br>
    <input name="python" type="text" value=""><br>
    Javascript:<br>
    <input name="javascript" type="text" value=""><br>
    Arduino:<br>
    <input name="arduino" type="text" value=""><br>
    Go:<br>
    <input name="go" type="text" value=""><br>
    C and C++:<br>
    <input name="cpp" type="text" value=""><br>
    Android and Kotlin:<br>
    <input name="android" type="text" value=""><br>
    iOS and Swift:<br>
    <input name="swift" type="text" value=""><br>
    Key:<br>
    <input name="password" type="password" value=""><br>
    
    <button type="submit">Submit</button>
</form>

