<!DOCTYPE html>
<html>
<head>
    <title>Brad Flaugher</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='sunglasses.ico') }}">
    <link rel="canonical" href="http://bradflaugher.com/">
    <meta property="og:site_name" content="Brad Flaugher">
    <meta property="og:url" content="http://bradflaugher.com/">
    <meta property="og:type" content="website">
    <meta name="twitter:url" content="http://bradflaugher.com/">
    <meta name="twitter:card" content="summary">
    <meta name="description" content="">
</head>
<body>
    <h1 style="font-family: monospace">BradFlaugher.com</h1>
    <h3 style="font-family: monospace"><a target="_blank" href="https://github.com/predbrad">What is Brad coding?</a></h3>
    <h3 style="font-family: monospace"><a target="_blank" href="https://www.linkedin.com/in/bradflaugher">Where is Brad working?</a></h3>
    <h3 style="font-family: monospace"><a target="_blank" href="https://www.grouvee.com/user/braddicus/">What is Brad playing?</a></h3>
    <h3 style="font-family: monospace"><a target="_blank" href="https://www.goodreads.com/user/show/70794184-brad-flaugher">What is Brad reading?</a></h3>
    <h3 style="font-family: monospace"><a target="_blank" href="https://www.rottentomatoes.com/user/id/976648942/">What is Brad watching?</a></h3>
    <h3 style="font-family: monospace"><a target="_blank" href="https://www.meetup.com/Philly-Polyglot-Programmers-Platoon/">How can I meetup with Brad?</a></h3>
    <h3 style="font-family: monospace"><a target="_blank" href="https://itunes.apple.com/us/book/happiness-is-good-eating/id1064456173?ls=1&amp;mt=11">What is the secret to happiness?</a></h3>
</body>
</html>
