<!DOCTYPE html>
<title>Brad Flaugher</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='sunglasses.ico') }}">
<link rel="canonical" href="http://bradflaugher.com/">
<meta property="og:site_name" content="Brad Flaugher">
<meta property="og:url" content="http://bradflaugher.com/">
<meta property="og:type" content="website">
<meta name="twitter:url" content="http://bradflaugher.com/">
<meta name="twitter:card" content="summary">
<meta name="description" content="">
<p style="font-family: monospace">(•_•)>⌐■-■&nbsp;(⌐■_■)</p>
<h2 style="font-family: monospace"><strong>welcome_to_Brad's_web_page</strong></h2>
<h3 style="font-family: monospace">Brad's internet presence ---> (<a href="https://github.com/predbrad">GitHub</a>, <a href="https://www.linkedin.com/in/bradflaugher">LinkedIn</a>)</h3>
<h3 style="font-family: monospace">Advice Book: Eat Grandma's Cooking...Happiness is Good Eating (<a target="_blank" href="https://itunes.apple.com/us/book/happiness-is-good-eating/id1064456173?ls=1&amp;mt=11">iBooks</a>)</h3>

</body></html>
