<!DOCTYPE html>
<html>
<head>
    <title>Bread Factory Studios</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="canonical" href="http://breadfactorystudios.com/">
    <meta property="og:site_name" content="Bread Factory Studios">
    <meta property="og:url" content="http://breadfactorystudios.com/">
    <meta property="og:type" content="website">
    <meta name="twitter:url" content="http://breadfactorystudios.com/">
    <meta name="twitter:card" content="summary">
    <meta name="description" content="">
</head>
<body id="home" data-spy="scroll" data-target=".navbar" data-offset="50">
    <!-- Container for Bread-Tron-->
      <div class="container text-center bradtron">
        <p style="font-family: Courier New, Courier, monospace">
        &nbsp;&nbsp;&nbsp;&nbsp;_______ <br>
        &nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)<br>
        &nbsp;&nbsp;/_____&nbsp;&nbsp;&nbsp;|<br>
        &nbsp;(&nbsp;&nbsp;'&nbsp;&nbsp;&nbsp;)&nbsp;/ <br>
        &nbsp;&nbsp;|.&nbsp;&nbsp;'|&nbsp;/  <br>
        &nbsp;&nbsp;|____|/   <br>
        </p>
      </div>
    </div>
    <style>
    .bradtron {
       margin-top: 50px;   
       letter-spacing: 0px;
    }
    </style>

    <!--Nav Bar-->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" style="font-family:monospace" href="#">bread factory studios</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#team" style="font-family: monospace"><span class="glyphicon glyphicon-user white"></span> TEAM</a></li>
            <li><a href="#work" style="font-family: monospace"><span class="glyphicon glyphicon-briefcase white"></span> OUR WORK</a></li>
            <li><a href="#hire" style="font-family: monospace"><span class="glyphicon glyphicon-phone-alt white"></span> HIRE US</a></li>
            <li><a href="#learn" style="font-family: monospace"><span class="glyphicon glyphicon-book white"></span> LEARN FROM US</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <style>
    .white, .white a {
          color: #fff;
    }
    </style>

    <!--Team -->
    <div id="team" class="container text-center">
        <h2 style="font-family: monospace"><strong>team</strong></h2>

        <div style="font-family: monospace">
            <a href="https://github.com/predbrad">Brad</a>- Backend, Big Data, DevOps, Linux, Android, Electronics (<a target="_blank" href="mailto:brad@breadfactorystudios.com">mail</a>)<br>
            <a href="https://github.com/SMesser55">Scott</a>- iOS, Polygons, Windows, Backend (<a target="_blank" href="mailto:scott.messer55@gmail.com">mail</a>)<br>
            <a href="https://www.instagram.com/emflaugh/">Elyse</a> - Mobile Web, OS X, Frontend, Design (<a target="_blank" href="mailto:elyseflaugher@gmail.com">mail</a>)<br>
        </div>
    </div>

    <!--Work-->
    <div id="work" class="container text-center">
        <h2 style="font-family: monospace"><strong>what we do</strong></h2>
        <div style="font-family: monospace">
          <div class="row">
              <div class="col-sm-6">
                <h3>we do huge data</h3>
                happy customers include <a target="_blank" href="http://audigent.com/">AuDigent</a> and <a target="_blank" href="http://www.startribune.com/redcurrent-app-aims-to-streamline-calendars/291898351/">RedCurrent</a>
              </div>
              <div class="col-sm-6">
                <h3>we make websites and apps</h3>
                like <a target="_blank" href="http://cuemeapp.com/">CueMe</a> and <a target="_blank" href="http://venturebeat.com/2014/03/06/offline-magazine-opens-up-its-slick-ios-platform-to-publishers-starting-with-brooklyn-magazine/">Offline Publishing</a><br>
              </div>
              <div class="col-sm-6">
                <h3>we get press for goofy apps</h3>
                <a target="_blank" href="https://github.com/predbrad/ios-space-shooter">6014</a>, <a target="_blank" href="https://itunes.apple.com/bt/app/save-the-penguin-shark-attack/id1067171149?mt=8">Save The Penguin</a>, <a target="_blank" href="http://time.com/4149938/donald-trump-keyboard-imoji-emoji/">Imoji Keyboards</a><br>
              </div>
              <div class="col-sm-6">
                <h3>we contribute</h3>
                <a target="_blank" href="http://www.meetup.com/Philly-Makers/">meetups</a>, <a target="_blank" href="http://fabbit.io">FabBit</a><br>
              </div>
            </div>
        </div>
    </div>
        
    <!--Hire-->
    <div id="hire" class="container text-center">
        <h2 style="font-family: monospace"><strong>use the factory</strong></h2>
        <div style="font-family: monospace">
            <a target="_blank" href="mailto:brad@breadfactorystudios.com">E-mail</a> us with the following info:<br>
            1. Who are you?<br>
            2. What is your project?<br>
            3. How much $$ do you have to burn?  If you're not paying, how many magic beans will you give us?<br>
            4. How many purple Lamborghinis do you think we'll be able to buy after a successful launch?<br>
            5. How can we conctact you?<br>
            6. Please be polite and end your emails with a nice "Have a nice day!" that always helps.<br>
        </div>
        <br>
    </div>

    <!--Learn-->
    <div id="learn" class="container text-center">
        <h2 style="font-family: monospace"><strong>let us teach you! (maybe we'll hire you)</strong></h2>
        
        <a style="font-family: monospace" href="https://nextfab.com/classes/"><h3>check out our classes at NextFab</h3></a>

        <h3 style="font-family: monospace">BREAD FACTORY CENTER FOR KIDS WHO CAN'T PROGRAM GOOD</h3>
        <h4 style="font-family: monospace">AND WHO WANNA LEARN TO DO OTHER STUFF GOOD TOO</h4>
        <div style="font-family: monospace">Want to get in the biz? Have no skills and no Job? We might be able to help <a tagrget="_blank" href="mailto:brad@breadfactorystudios.com">Email us</a> and tell us your story, we'll see what we can do"</div>

        <h3 style="font-family: monospace">Articles of the note</h3>
        {% for key, value in articles.items() %}
        <div style="font-family: monospace"><a target="_blank" href="{{value}}">{{key}} article of the week</a></div>
        {% endfor %}
    </div>

</body>
</html>
