<!DOCTYPE html>
<html>
<head>
    <title>FabBit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="canonical" href="http://fabbit.io/">
    <meta property="og:site_name" content="FabBit">
    <meta property="og:url" content="http://fabbit.io/">
    <meta property="og:type" content="website">
    <meta name="twitter:url" content="http://fabbit.io/">
    <meta name="twitter:card" content="summary">
    <meta name="description" content="">
</head>
<body>
    <pre style="font: 4px/2px monospace;">

                                                          ` `
                                                `,,      ','. `
                                               .:`:,;   +;` ++.
                                              ;.: `.:',+# ,#++++. `
                                             :,.;.,,;;##+++++++##+. `
                                           `',,,::;+,;+'+++++++##'.+.
                                          ,;;',::;,';#;;+#+++++#'``'`.
                                        `:,.`;',,;++,+;#..+#++#+++'```
                                        '',.,;.;':','++#';`,++++++``.
                                      `:,,''',,''`;':++#`;;'.'+++ `:
                                     `',,.:,'.'`#;;.,''++. ';'.+ ,::
                                    ,;;;,,;,:+.,., ;''':.;'`,'';..,.;,
                                   ;,..;'``#''...+:++'#;':,;''::;;.,;'',
                                  ;',.,;,,+#+'#':,;:,+#'+'','+';;'';;.``'`
                                 :::'''..#++'',:+':';;#'+''';:,;`;:'':.`:':`
                               `;.,.;',.;'+'+':'+:;;'.;;.;'' '::::;;.,``'':;
                              `,;..,.+'.;,:'+;'+;'++';:.''',::. ,'``;:;,';:`
                             ;`...''.'`+ `::++'+'+'''#,`';::;,,,',.'...:;;`
                            `,.:.`'';,';,,,.+''+++'#`+,;',;;`.`'`.'',..::`
                           ';,,.`.'':,',;::''+`'';#,;;#+'';; ;;:::,,'+':`
                         `,`..'+':;;';;:.''''++;'#+:'####':';,'.',,..'.`
                       `:;,...'+''+'''''+++#+#'+;;,''#'+'+;;:;`'';..;``
                       :,.`'''`;#++#+#+###+++#++''': ++'++'..,,..;''``
                     `:.,,.'''+:#+###+#'+;++++:++'.'.:++''.':',,,,'.`
                    `,....,'+''+++'#+'+'++'+++.++;:' .;,;.':''',,'`
                   .,.,````'+'++;;'''#+'+';'##++';;:.;`;``',..;''`
                  `;.,.:'+'''+++;;'+'###+;''++.++':, ;. '''.,,,;`
                 ;':..,`+';''''+`''++#+'+#+#+#'++;;,....;:'':;;`
                ',....'``:;''+'+;+++'##'#+####+'+'''''`'.,`:':`
               ',.,.''''';,'''++.##++##+'+###+#'+++``;''.,`;:`
             .;''..;.''..;;++'''.++##++##+##+##;+'``,;,;''',`
            :..`:'+'`'; .''''''+'####+'++'''''''+''.'`,.:+,.
           ;',,.,+'+,.:',,`''''+'++++'';;,,::;:'`;'''.,.',`
          ., +,;`.'',..';',`''''':',;'''''''';;,`',.,'''.
        `;...`'++.':.:';,':`.'''''''''''''''+''';:.:`''.`
       ` :..,`'''';::;..`,++'+`:+''''''''''';:.++'`..'`
        `.';`;,'';,;++',..:';'.,`''''';:';'+.`'..:'''`
          `;;:'.+,:+'###;,,'''++;,;'+:',,+;+''`,,.''`
           ``;; ,'+'#++'+#'':..+'';`+.,'':,`++'.`,;`
             `::;'''#+++''+':,`.+';';``;:`.:..;'''`
              ``';```#+#'+#++',`,+,''';'''',:,.';`
               ``.' :`;#+''#.:'''.;`++':;';,..;,`
                 ``;,;.`#++.;,''',.;' ,'...''',`
                    `'`:`,`;'';;' ;;''''.,.,'.`
                    ``,' :::'+#:;';.';''`..+``
                      `.;,.'';.`'+,;',.,'''.
                        `.''` .';';'..,.;;`
                         ``:,,':``.;'...'``
                           ``;,.`;..`'''`
                            ``:,+.,.`:'`
                              `.'...,'`
                               ``., '`
                                  `,`
                                   `

    </pre>

    <h4 style="font-family: monospace">soup-to-nuts internet-of-things... open, cheap, and secure</h4>

    <h2 style="font-family: monospace"><strong>Peep Our Codes</strong></h2>
    <h3 style="font-family: monospace"> <a href="https://github.com/predbrad/fabbit-iot">FabBit-IoT on Github</a></h3>

    <h2 style="font-family: monospace"><strong>Use our API</strong></h2>
    <h3 style="font-family: monospace">FabBit Weather <a href="http://api.fabbit.io/api/v1/getforecastzip?q=19146">http://api.fabbit.io/api/v1/getforecastzip?q=19146</a></h3>
    <h3 style="font-family: monospace">FabBit Stocks <a href="http://api.fabbit.io/api/v1/getstockquote?s=TSLA">http://api.fabbit.io/api/v1/getstockquote?s=TSLA</a></h3>
    <h3 style="font-family: monospace">FabBit MLB <a href="http://api.fabbit.io/api/v1/getmlbstandings?t=philadelphia">http://api.fabbit.io/api/v1/getmlbstandings?t=philadelphia</a></h3>
    <h3 style="font-family: monospace">FabBit NFL <a href="http://api.fabbit.io/api/v1/getnflstandings?t=detroit">http://api.fabbit.io/api/v1/getnflstandings?t=detroit</a></h3>
    <h3 style="font-family: monospace">FabBit NHL <a href="http://api.fabbit.io/api/v1/getnhlstandings?t=pittsburgh">http://api.fabbit.io/api/v1/getnhlstandings?t=pittsburgh</a></h3>
    <h3 style="font-family: monospace">FabBit NBA <a href="http://api.fabbit.io/api/v1/getnbastandings?t=cleveland">http://api.fabbit.io/api/v1/getnbastandings?t=cleveland</a></h3>
    <h3 style="font-family: monospace">FabBit Color Setter/Picker <a href="http://api.fabbit.io/api/v1/picker">http://api.fabbit.io/api/v1/picker</a></h3>
    <h3 style="font-family: monospace">FabBit Color Getter <a href="http://api.fabbit.io/api/v1/getcolor">http://api.fabbit.io/api/v1/getcolor</a></h3>

    <h2 style="font-family: monospace"><strong>Contributors</strong></h2>
    <h3 style="font-family: monospace">Matt Garfield (<a href="https://github.com/MattGarfield">GitHub</a>, <a target="_blank" href="mailto:matt.garfield@nextfab.com">mail</a>)</h3>
    <h3 style="font-family: monospace">Brad Flaugher (<a href="https://github.com/predbrad">GitHub</a>, <a href="mailto:brad@breadfactorystudios.com">mail</a>)</h3>

</body>
</html>
