<!DOCTYPE html>
<html>
<head>
    <title>GoatseLearn</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='goatse.ico') }}">
    <link rel="canonical" href="http://breadfactorystudios.com/">
    <meta property="og:site_name" content="GoatseLearn">
    <meta property="og:url" content="http://breadfactorystudios.com/goatselearn">
    <meta property="og:type" content="website">
    <meta name="twitter:url" content="http://breadfactorystudios.com/goatselearn">
    <meta name="twitter:card" content="summary">
    <meta name="description" content="a backend bootcamp for DIYers">
</head>
<body id="home" data-spy="scroll" data-target=".navbar" data-offset="50">
    <!-- Container for Bread-Tron-->
      <div class="container text-center bradtron">
        <img src="{{ url_for('static', filename='goatselearn.png') }}" alt="..." class="img-responsive center-block" />
      </div>
    </div>
    <style>
    .bradtron {
       margin-top: 50px;   
       letter-spacing: 0px;
    }
    .myfont {
       font-family: Courier New, Courier, monospace; 
    }
    </style>

   <!-- Buy -->
    <div class="footer container text-center">
        <a href="https://github.com/predbrad/goatselearn">Join us on Github</a>
   </div>
    <style>
    .footer {
      background: white;
      position: fixed;
      border-style: solid;
      border-color: red;
      width: 100%;
      bottom: 0;
          }
    </style>

</body>
</html>
