<!DOCTYPE html>
<html>
<head>
    <title>GoatseLearn</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='goatse.ico') }}">
    <link rel="canonical" href="http://breadfactorystudios.com/">
    <meta property="og:site_name" content="GoatseLearn">
    <meta property="og:url" content="http://breadfactorystudios.com/goatselearn">
    <meta property="og:type" content="website">
    <meta name="twitter:url" content="http://breadfactorystudios.com/goatselearn">
    <meta name="twitter:card" content="summary">
    <meta name="description" content="a backend bootcamp for DIYers">
</head>
<body id="home" data-spy="scroll" data-target=".navbar" data-offset="50">
    <!-- Container for Bread-Tron-->
      <div class="container text-center bradtron">
        <img src="{{ url_for('static', filename='goatselearn.png') }}" alt="..." class="img-responsive center-block" />
      </div>
    </div>
    <style>
    .bradtron {
       margin-top: 50px;   
       letter-spacing: 0px;
    }
    .myfont {
       font-family: Courier New, Courier, monospace; 
    }
    </style>

    <a class="github-fork-ribbon" href="https://github.com/predbrad/goatselearn" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>

</body>
</html>
