<script src="{{ url_for('static', filename='jscolor.js') }}"></script>
<pre style="font: 4px/2px monospace;">

                                                      ` `
                                            `,,      ','. `
                                           .:`:,;   +;` ++.
                                          ;.: `.:',+# ,#++++. `
                                         :,.;.,,;;##+++++++##+. `
                                       `',,,::;+,;+'+++++++##'.+.
                                      ,;;',::;,';#;;+#+++++#'``'`.
                                    `:,.`;',,;++,+;#..+#++#+++'```
                                    '',.,;.;':','++#';`,++++++``.
                                  `:,,''',,''`;':++#`;;'.'+++ `:
                                 `',,.:,'.'`#;;.,''++. ';'.+ ,::
                                ,;;;,,;,:+.,., ;''':.;'`,'';..,.;,
                               ;,..;'``#''...+:++'#;':,;''::;;.,;'',
                              ;',.,;,,+#+'#':,;:,+#'+'','+';;'';;.``'`
                             :::'''..#++'',:+':';;#'+''';:,;`;:'':.`:':`
                           `;.,.;',.;'+'+':'+:;;'.;;.;'' '::::;;.,``'':;
                          `,;..,.+'.;,:'+;'+;'++';:.''',::. ,'``;:;,';:`
                         ;`...''.'`+ `::++'+'+'''#,`';::;,,,',.'...:;;`
                        `,.:.`'';,';,,,.+''+++'#`+,;',;;`.`'`.'',..::`
                       ';,,.`.'':,',;::''+`'';#,;;#+'';; ;;:::,,'+':`
                     `,`..'+':;;';;:.''''++;'#+:'####':';,'.',,..'.`
                   `:;,...'+''+'''''+++#+#'+;;,''#'+'+;;:;`'';..;``
                   :,.`'''`;#++#+#+###+++#++''': ++'++'..,,..;''``
                 `:.,,.'''+:#+###+#'+;++++:++'.'.:++''.':',,,,'.`
                `,....,'+''+++'#+'+'++'+++.++;:' .;,;.':''',,'`
               .,.,````'+'++;;'''#+'+';'##++';;:.;`;``',..;''`
              `;.,.:'+'''+++;;'+'###+;''++.++':, ;. '''.,,,;`
             ;':..,`+';''''+`''++#+'+#+#+#'++;;,....;:'':;;`
            ',....'``:;''+'+;+++'##'#+####+'+'''''`'.,`:':`
           ',.,.''''';,'''++.##++##+'+###+#'+++``;''.,`;:`
         .;''..;.''..;;++'''.++##++##+##+##;+'``,;,;''',`
        :..`:'+'`'; .''''''+'####+'++'''''''+''.'`,.:+,.
       ;',,.,+'+,.:',,`''''+'++++'';;,,::;:'`;'''.,.',`
      ., +,;`.'',..';',`''''':',;'''''''';;,`',.,'''.
    `;...`'++.':.:';,':`.'''''''''''''''+''';:.:`''.`
   ` :..,`'''';::;..`,++'+`:+''''''''''';:.++'`..'`
    `.';`;,'';,;++',..:';'.,`''''';:';'+.`'..:'''`
      `;;:'.+,:+'###;,,'''++;,;'+:',,+;+''`,,.''`
       ``;; ,'+'#++'+#'':..+'';`+.,'':,`++'.`,;`
         `::;'''#+++''+':,`.+';';``;:`.:..;'''`
          ``';```#+#'+#++',`,+,''';'''',:,.';`
           ``.' :`;#+''#.:'''.;`++':;';,..;,`
             ``;,;.`#++.;,''',.;' ,'...''',`
                `'`:`,`;'';;' ;;''''.,.,'.`
                ``,' :::'+#:;';.';''`..+``
                  `.;,.'';.`'+,;',.,'''.
                    `.''` .';';'..,.;;`
                     ``:,,':``.;'...'``
                       ``;,.`;..`'''`
                        ``:,+.,.`:'`
                          `.'...,'`
                           ``., '`
                              `,`
                               `

</pre>

<h4 style="font-family: monospace">FabBit IoT Light</h4>

<p>{{confirmation_text}}</p>

<form action="/api/v1/picker" method="post">
    <p>
    <input name="color" type="hidden" id="color_value" value="99cc00">
    <button class="jscolor {valueElement: 'color_value'}">Pick a Color</button>
    </p>
    <button type="submit">Light it up!</button>
</form>

