<!DOCTYPE html>
{% if bfs %}
    <title>Bread Factory Studios</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="canonical" href="http://breadfactorystudios.com/">
    <meta property="og:site_name" content="Bread Factory Studios">
    <meta property="og:url" content="http://breadfactorystudios.com/">
    <meta property="og:type" content="website">
    <meta name="twitter:url" content="http://breadfactorystudios.com/">
    <meta name="twitter:card" content="summary">
    <meta name="description" content="">
    <p style="font-family: monospace">
    &nbsp;&nbsp;&nbsp;&nbsp;_______ <br>
    &nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)<br>
    &nbsp;&nbsp;/_____&nbsp;&nbsp;&nbsp;|<br>
    &nbsp;(&nbsp;&nbsp;'&nbsp;&nbsp;&nbsp;)&nbsp;/ <br>
    &nbsp;&nbsp;|.&nbsp;&nbsp;'|&nbsp;/  <br>
    &nbsp;&nbsp;|____|/   <br>
    </p>
{% else %}
    <title>Brad Flaugher</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='sunglasses.ico') }}">
    <link rel="canonical" href="http://bradflaugher.com/">
    <meta property="og:site_name" content="Brad Flaugher">
    <meta property="og:url" content="http://bradflaugher.com/">
    <meta property="og:type" content="website">
    <meta name="twitter:url" content="http://bradflaugher.com/">
    <meta name="twitter:card" content="summary">
    <meta name="description" content="">
    <p style="font-family: monospace">(•_•)>⌐■-■&nbsp;(⌐■_■)</p>
{% endif %}

{% if bfs %}
    <h2 style="font-family: monospace"><strong>bread_factory_team</strong></h2>
    <h3 style="font-family: monospace">Brad Flaugher (<a href="https://github.com/bflaug32">GitHub</a> <a href="https://github.com/predbrad">2</a>, <a href="https://www.linkedin.com/in/bradflaugher">LinkedIn</a>, <a href="mailto:brad@breadfactorystudios.com">brad@breadfactorystudios.com</a>)</h3>
    <h3 style="font-family: monospace">Scott Messer (<a href="https://github.com/SMesser55">GitHub</a>, <a href="https://www.linkedin.com/in/scott-messer">LinkedIn</a>, <a target="_blank" href="mailto:scott.messer55@gmail.com">mail</a>)</h3>

{% else %}
    <h2 style="font-family: monospace"><strong>welcome_to_Brad's_web_page</strong></h2>
    <h3 style="font-family: monospace">contact Brad ---> (<a href="https://github.com/bflaug32">GitHub</a> <a href="https://github.com/predbrad">2</a>, <a href="https://www.linkedin.com/in/bradflaugher">LinkedIn</a>, <a href="mailto:brad@breadfactorystudios.com">brad@breadfactorystudios.com</a>)</h3>
{% endif %}

<h2 style="font-family: monospace"><strong>work_in_progress</strong></h2>
<h3 style="font-family: monospace">AuDigent (<a href="http://audigent.com/">homepage</a>)</h3>

{% if bfs %}
    <h3 style="font-family: monospace">CueMe (<a target="_blank" href="http://cuemeapp.com/">homepage</a>, <a target="_blank" href="https://itunes.apple.com/us/app/cueme-guess-less/id1057047182?mt=8">iOS App Store</a>)</h3>
{% endif %}

<h3 style="font-family: monospace">IoT API (<a target="_blank" href="http://www.meetup.com/Philly-Makers/">meetup</a>, <a target="_blank" href="https://github.com/bflaug32/iot-api-flask">GitHub</a>)</h3>
<h3 style="font-family: monospace">teaching (<a target="_blank" href="https://www.supersaas.com/schedule/NextFab_Studio/Classes">Intro To Python, Connected Applicaitons Bootcamp @ NextFab</a>)</h3>
<h2 style="font-family: monospace"><strong>old_projects</strong></h2>
<h3 style="font-family: monospace">Imoji Keyboards (<a href="https://itunes.apple.com/ie/app/the-donald-keyboard/id1051561714?mt=8">iOS App Store</a>, <a href="http://time.com/4149938/donald-trump-keyboard-imoji-emoji/">hype</a>)</h3>
<h3 style="font-family: monospace">6014 (<a target="_blank" href="https://itunes.apple.com/us/app/6014-space-shooter-future/id1017036097?mt=8">iOS App Store</a>,&nbsp;<a href="https://github.com/bflaug32/6014">GitHub</a>)</h3>

{% if bfs %}
    <h3 style="font-family: monospace">save the penguin!(<a href="https://itunes.apple.com/bt/app/save-the-penguin-shark-attack/id1067171149?mt=8">iOS App Store</a>)</h3>
{% endif %}

<h3 style="font-family: monospace">RedCurrent (<a href="http://www.startribune.com/redcurrent-app-aims-to-streamline-calendars/291898351/">press</a>)</h3>
<h3 style="font-family: monospace">Nixon Toolkit (<a href="http://venturebeat.com/2014/03/06/offline-magazine-opens-up-its-slick-ios-platform-to-publishers-starting-with-brooklyn-magazine/">coverage</a>)</h3>
<h3 style="font-family: monospace">Offline Publishing (<a href="http://techcrunch.com/2013/12/05/offline-blends-text-audio-and-writer-empowerment-to-create-new-kind-of-ios-publication/">hype</a>)</h3>
<h3 style="font-family: monospace">Happiness is Good Eating (<a target="_blank" href="https://itunes.apple.com/us/book/happiness-is-good-eating/id1064456173?ls=1&amp;mt=11">iBooks</a>)</h3>
<h3 style="font-family: monospace">Maintenance Widget (<a target="_blank" href="http://mac.softpedia.com/get/Dashboard-Widgets/Network-Security/MaintenanceWidget.shtml">softpedia</a>)</h3>

</body></html>